[submodule "messages"]
	path = messages
	url = https://github.com/cucumber/messages.git
[submodule "gherkin"]
	path = gherkin
	url = https://github.com/cucumber/gherkin.git
[submodule "query"]
	path = query
	url = https://github.com/cucumber/query.git
[submodule "tag-expressions"]
	path = tag-expressions
	url = https://github.com/cucumber/tag-expressions.git
